@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FF7A48, #E3371E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #67190d92;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #151F30;
    text-align: center;
    text-shadow: 1px 1px 2px #0a0f18ca;
}

h2 {
    color: #103778;
}

p {
    text-align: justify;
}